
.aboutContainer{
  background-color: #141314;
  margin-left: 10%;
  margin-top: 10%;
  display: flex;
  flex-direction: row;
  width: 90%;
  padding-bottom: 5%;

  .top{
    width: 55%;
  }

  ul{
    list-style: none; 
    padding-bottom: 3%; 
  }

  .aboutPhotos{
    width: 35%;
    margin-left: 5%;
    display: flex;
    flex-direction: column;


  .aboutphoto1{
    height: 175px;
    transform: rotate(-15deg);
    filter: brightness(50%);

  }

    .aboutphoto1:hover{
    transform: rotate(-12deg);
        
    }
  .aboutphoto2{
    height: 175px;
    transform: rotate(10deg);
  }

  .aboutphoto2:hover{
    transform: rotate(8deg);
    }
    
  .aboutphoto3{
    height: 175px;
    transform: rotate(5deg);
    filter: brightness(60%);
  }
  .aboutphoto3:hover{
    transform: rotate(9deg);
    }
  .aboutphoto4{
    margin-top: -10px;
    height: 180px;
    transform: rotate(-12deg);
    filter: brightness(60%);
  }
  .aboutphoto4:hover{
    transform: rotate(-14deg);
    }
  
}
button {
  margin-left: 0%;
  margin-top: 5%;
  background-color: #522051;
  border: none;
  border-radius: 17px;
  color: #EDF1F2;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: 'Roboto Mono', monospace;
}
}
    

  @media (max-width: 800px) {
    .aboutContainer{
        margin-left: 5%;
        position: relative;
        background-color:#141314;
        width: 95%;
        height: 1050px;
        .top{
            width: 83%;
            position: absolute;
            z-index: 23;
            margin-top: 7%;
            margin-left: 7%;


        }
        .aboutPhotos{
            position: absolute;
            width: 80%;
            margin-top: 150px;

            .aboutphoto1{
              margin-bottom: 30px;  
              height: 150px;
                filter: brightness(50%);
              }
              .aboutphoto2{
                margin-bottom: 30px;
                height: 150px;
                filter: brightness(80%);
              }
              .aboutphoto3{
                margin-bottom: 30px;
                height: 150px;
                filter: brightness(40%);
              }
              .aboutphoto4{
                margin-bottom: 30px;
                margin-top: -10px;
                height: 135px;
                filter: brightness(40%);
              }
        }
    }


  }