.background{
  background-color: black;
  
} 

.artcontainer1{
  margin-top: -35px;
  width: 100%;
  .right1{
     display: flex;
     margin-left: 2%;
     margin-top: 1.5rem;
     flex-direction: column;
     .untoldArtistTitle{
      margin-top: 50px;
    }
     .untoldArtist{
       margin-left: 2%;
       margin-top: 5%;
       position: absolute;
     }
     h4{
      position: absolute;
      margin-top: 35%;
      margin-left: 2%;
      font-size: 25px;
      position: absolute;
      font-style: italic;
      color: white;
    }
      .poem1{
        border-left: 3px solid white;
        margin-top: 7em;
        padding: 1.5em;
        position: absolute;
        color: white;

        
    }
      .contest-details1{
          margin-top: 20px;
          margin-left: 20px;
          display: flex;
          p{
              font-family: 'Lato', sans-serif;
              
          }
          
          .cameraphoto1{
            height: 100vh;
            margin-left: 0px;
            width: 60%;
            position: relative;
            margin-top: -3em;
      
        }
          
      }

  
}

}

//////Mobile
@media (max-width: 800px) {  
   .background{
     height: 100vh;
     .artcontainer1{
      flex-direction: column;
      margin-bottom: .5em;
      margin-top: 0px;
      width: 100%;
      
      .right1{
          width: 90%;
          margin-left: 3%;
          margin-top: px;
          h4{
            position: absolute;
            margin-top: 63%;
            margin-left: 2%;
            font-size: 15px;
            position: absolute;
            font-style: italic;
            color: white;
          }
          .untoldArtistTitle{
            margin-top: 0px;
            position: absolute;
          }
         .poem1{
           margin-top: 7em;
           padding-left: .5em;
           width: 90%;
           margin-left: 12px;
           padding-top: .5em;
           padding-bottom: .5em;
          

           h3{
             font-size: 20px;
           }
           
          
         } 
       
          
         
      }
    
      .cameraphoto1{
        width: 90%;
        margin-top: 65%; 
        margin-left: 10px;
        position: relative;
      }
  }
   }
 
}
  