.background{
  background-color: black;
  
}
.artcontainer1{
  margin-top: -35px;
  .right1{
     display: flex;
     margin-left: 2%;
     margin-top: 35px;
     flex-direction: column;
     .untoldArtist{
       margin-left: 2%;
       margin-top: 5%;
       position: absolute;
     }

      .poem1{
        border-left: 3px solid white;
        margin-top: 7em;
        padding: 1.5em;
        position: absolute;
        color: white;

        p{
            font-family: 'Lato', sans-serif;
        }
    }
      .contest-details1{
          margin-top: 20px;
          margin-left: 20px;
          display: flex;
          p{
              font-family: 'Lato', sans-serif;
              
          }
          .comingSoon1{
            margin-top: 350px;
            position: absolute;
            font-style: italic;
          }
          .cameraphoto1{
            height: 100vh;
            margin-left: 0px;
            width: 60%;
            position: relative;
            margin-top: -3em;
      
        }
          
      }

  
}

}

//////Mobile
@media (max-width: 800px) {  
   .background{
     height: 100vh;
     .artcontainer1{
      flex-direction: column;
      margin-bottom: .5em;
      margin-top: 0px;
      width: 100%;
      
      .right1{
          width: 90%;
          margin-left: 3%;
          margin-top: px;
        
          .untoldArtist{
            margin-left: 2%;
            margin-top: 10px;
            position: absolute;
            font-size: 30px;
          }
         .poem1{
           margin-top: 7em;
           padding-left: .5em;
           width: 90%;
           margin-left: 12px;
           padding-top: .5em;
           padding-bottom: .5em;

           h3{
             font-size: 20px;
           }
           
          
         } 
         .comingSoon1{
          margin-top: 100px;
          width: 90%;
        }
          
         
      }
      .cameraphoto1{
        width: 100%;
        margin-top: 25%;
        background-size: cover; 
      }
  }
   }
 
}
  