
    .communityContainer{
        display: flex;
        flex-direction: column;
     
        .top-container{
            .communityTitle{
                margin-top: .3em;
                margin-left: .3em;
                font-size: 3.4em;
                font-family: 'Roboto Mono', monospace;
            }
            .apply-to-podcast{
                margin-left: 2em;
                width: 70vw;
                margin-left: 30px;
                p{
                    
                    font-size: 1em;
                    font-family: 'Lato', sans-serif;
                    font-weight: 200;
                }
                .podcastIcon{
                    height: 50px;
                    margin-left: 1em;
                }
                    button {
                    margin-top: 0%;
                    background-color: #23364D;
                    border: none;
                    border-radius: 17px;
                    color: white;
                    padding: 15px 32px;
                    text-align: center;
                    text-decoration: none;
                    display: inline-block;
                    font-size: 16px;
                    font-family: 'Roboto Mono', monospace;
                  }
            }
        }
        
        .blog-container{
            margin-top: 1em;
            display: flex;
            flex-direction: row;
            padding-top: 2em;
            padding-left: 3em;
            padding-right: 7em;
       
            .line-container{
                margin-bottom: 0px;
                height:450px;
                .mobileline{
                    display: none;
                }
            }
            .desktopline{
                height: 450px;
            }
            .poem-container{
                
                p{
                    text-align: center;
                    font-family: 'Lato', sans-serif;
                    font-weight: 200;
                }
            }
        }
    
    }
   
    
    @media (max-width: 800px) {
        .communityContainer{
            .top-container{
                
                margin-bottom: 0px;
                padding-bottom: 0px;
                .buttons{
                    width: 100vw;
                    align-items: center;
                    display: flex;
                    button{
                        width: 45vw;
                        padding: 5px;
                    }
                }
                
                
            }
        .blog-container{
            display: flex;
            flex-direction: column;
            padding-left: 1em;
            padding-right: 1em;
            margin-top: 0px;
            .line-container{
                margin-left: auto;
                margin-right: auto;
                height: 50px;
                .desktopline{
                    display: none;
                }
                .mobileline{
                    width: 300px;
                    display: initial;
                }
            }
            .poem-container{
                
                p{
                    text-align: center;
                    font-family: 'Lato', sans-serif;
                    font-weight: 200;
                }
            }
        }
    }
}

