.desktopNav {
        
        transform: rotate(-270deg);

        /* Legacy vendor prefixes that you probably don't need... */
      
        /* Safari */
        -webkit-transform: rotate(-270deg);
      
        /* Firefox */
        -moz-transform: rotate(-270deg);
      
        /* IE */
        -ms-transform: rotate(-270deg);
      
        /* Opera */
        -o-transform: rotate(-270deg);
      
        /* Internet Explorer */
        filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
        display: inline-block;
        position: fixed;
        z-index: 6;
        height: 100vh;
        right: 5%;
        .logo{
            height: 60px;
        }
        a{
            text-decoration: none !important;
        }
        
            h1{
                display: inline;
                padding: 1em;
                color: white;
               
            }
           
            
    
}
@media (min-width: 800px) {
    .mobileNav{
        display: none;
    }
}

@media (max-width: 800px) {  
    .desktopNav{
        display: none;
    }
    .mobileNav{
        z-index: 2;
        #panel{
            .menu-button{
                background-color: transparent;
                border: none;
                margin-top: 1%;
                margin-left: 80%;
                .open{
                    height: 60px;
                }
                
            }
            
        }
    }
    #vertical-options-full {
        z-index: 2;
        background-color: black;
        width: 100vw;
        height: 100vh;
        position: absolute;
        transition-duration: 200ms;
            .list{
                margin-top: 40%;
                h1{
                    text-align: center;
                    color: white;
                    font-family: 'Roboto Mono', monospace;
                    text-decoration: none;
                }
            p{
                margin-top: 7%;
                text-align: center;
            }
            }
    }
          

    }
  
 


