
.artcontainer{ 
display: flex;
flex-direction: row;
height: 100vh;
background-color: #141314;
.cameraphoto{
    margin-left: 0px;
    display: flex;
    width: 43%;
    margin-bottom: 0;
    object-fit: cover;
}
.right{
   display: flex;
   flex-direction: column;
   width: 50%;
   margin-top: 1em;
   padding-left: 2em;
   padding-right: 2em;
   .synopsis{
       margin-top: 30px;

   }
   h3{
    font-family: 'Roboto Mono', monospace;
    font-size: 1.2em;
    font-style: italic;

    }

    .poem{
        border-left:  1px solid white;
        margin-top: 1em;
        padding: 1.5em;
      
    }
    .contest-details{
        margin-top: 20px;
       
    }

    button {
        margin-top: 5%;
        background-color: #23364D;
        border: none;
        border-radius: 17px;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        font-family: 'Roboto Mono', monospace;
      }
}

}

//////Mobile
@media (max-width: 800px) {  
 .artcontainer{
     display: flex;
     flex-direction: column;
     margin-bottom: 1em;
     height: auto;
     .right{
         width: 100%;
     }
    .cameraphoto{
        height: 30vh;
        width: 100%;
        object-fit: cover;
        
    }
    
 }
 button {
    margin-top: 5%;
    background-color: #23364D;
    border: none;
    border-radius: 17px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Roboto Mono', monospace;
    bottom: 15%;
  }
}

