@import url(https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap);
//font-family: 'Roboto Mono', monospace;
@import url(https://fonts.googleapis.com/css2?family=Arimo&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Lexend+Deca&family=Open+Sans:wght@300&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&family=Nanum+Pen+Script&family=Open+Sans:wght@800&display=swap);
html, body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
  
}
.background1 {
  background-color: #141314;
    width: 100vw;
    height: auto;
    color: #EDF1F2;
    position: relative;
    display: flex;
    flex-direction: column;
    .eeetitle{
      margin-top: 4%;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 5%;
    }
    .sitckfigureflex{
      margin-left: 5%;
      margin-right: 3%;
      width: 94%;
      display: flex;
      flex-direction: row;
      .eeeflex{
        display: flex;
        flex-direction: column;
        width: 30%;
        margin-right: 3%;
      }
    }
  
  .homeContainer{
    width: 55vw;
    position: absolute;
    margin-top: 10%;
    z-index: 34;
    margin-left: 9%;
    .homeTitle{
      font-family: 'Lexend Deca', sans-serif;
      letter-spacing: 0.2em;
      margin-left: 0%;
      font-size: 3.7em;
      font-weight: 700;
      text-align: justify;
      text-justify: inter-word;
    }
    .homeSubtitle{
      font-family: 'Montserrat', sans-serif;
      width: 75%;
     
    }

      button {
        margin-left: 0%;
        margin-top: 5%;
        background-color: #522051;
        border: none;
        border-radius: 17px;
        color: #EDF1F2;
        padding: 10px 15px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        font-family: 'Montserrat', sans-serif;

      }
      
    }
    h3{
      font-family: 'Arimo', sans-serif;
      font-weight: 600;
  }
  h2{
    font-size: 30px;
  }
 
  .homePhotoContainer{
    width: 75%;
    height: 50%;
    margin-top: 7%;

    .picture {
      width: 100%;
      height: auto;
      display: flex;
      margin-top: 0%;
      z-index: 1;
      margin-left: 25%;
    }
  }
  .blockChainTitle{
    margin-left: 8%;
    margin-top: 4%;
  }
  .blockChain{
    margin-left: 8%;
    margin-right: 8%;
    margin-bottom: 4%;
  } 
  p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;

  }
    
}

@media (max-width: 800px) {  
  
  .background1 {
    height: auto;
    padding-bottom: 40px;
    .sitckfigureflex{
      margin-left: 5%;
      margin-right: 3%;
      width: 94%;
      display: flex;
      flex-direction: column;
      .eeeflex{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        .sticks{
          height: 300px;
          width: auto;
        }
      }
      
    }
    .eeetitle{
      margin-left: 5%;
      margin-right: 3%;
      margin-bottom: 15px;
    }

    .homeContainer{
      margin-top: 20%;
      padding-bottom: 30px;
      width: 80%;
      .homeTitle{
        font-size: 2.1em;
      }
      .homeSubtitle{
        font-size: 1.7em;
      }
      h2{
        font-size: 17px;
      }
      button {
      margin-top: 10%;
      }

  }

  .homePhotoContainer{
    width: 75%;
    height: 50%;
    margin-top: 9%;

    .picture {
      object-fit: cover;
      max-width: 100%;
      height: 60vh;
      width: cover;
      display: flex;
      margin-top: 5%;
      z-index: 1;
      opacity: 40%;
    
    }
  }

  
  
}}

@import '_mixins';

@import 'stories';
@import 'about';
@import 'episode1';
@import 'episode2';
@import 'episode3';
@import 'episode4';
@import 'episode5';
@import 'episode6';
@import 'shesawincolor';
@import 'newnav';
@import 'sidenav';
@import 'about';
@import 'music';
@import 'roadmap';