@import url(https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap);
//font-family: 'Roboto Mono', monospace;
@import url(https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&family=Nanum+Pen+Script&family=Open+Sans:wght@800&display=swap);
html, body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
  
}
.background1 {
  background-color: #030302;
  width: 100vw;
  height: auto;
  color: #ffffff;
  position: relative;
  display: flex;
  flex-direction: row;
  
  .homeContainer{
    width: 50vw;
    position: absolute;
    margin-top: 12%;
    z-index: 34;
    margin-left: 15%;
    .homeTitle{
      font-family: 'Open Sans', sans-serif;
      font-size: 3.7em;
    }
    .homeSubtitle{
      font-family: 'Nanum Brush Script';    
    }

      button {
        margin-left: 0%;
        margin-top: 5%;
        background-color: #23364D;
        border: none;
        border-radius: 17px;
        color: white;
        padding: 10px 15px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        font-family: 'Roboto Mono', monospace;
      }
  }

  .homePhotoContainer{
    width: 75%;
    height: 50%;
    margin-top: 7%;

    .picture {
      object-fit: contain;
      max-width: 100%;
      height: 90vh;
      width: cover;
      display: flex;
      margin-top: 5%;
      z-index: 1;
      margin-left: 25%;
    }
  }
    
    
}

@media (max-width: 800px) {  
  
  .background1 {
    .homeContainer{
      margin-top: 20%;
      width: 100vw;
      .homeTitle{
        font-size: 2.7em;
      }
      .homeSubtitle{
        font-size: 1.7em;
      }

      button {
      margin-top: 60%;
      }

  }

  .homePhotoContainer{
    width: 75%;
    height: 50%;
    margin-top: 9%;

    .picture {
      object-fit: cover;
      max-width: 100%;
      height: 90vh;
      width: cover;
      display: flex;
      margin-top: 5%;
      z-index: 1;
    
    }
  }

  
  
}}

@import '_mixins';
@import 'navbar';
@import 'story';
@import 'stories';
@import 'about';
@import 'episode1';
@import 'episode2';
@import 'episode3';
@import 'episode4';
@import 'episode5';
@import 'episode6';
@import 'shesawincolor';
@import 'soundtrack';
@import 'newnav';
@import 'sidenav';
@import 'about';
@import 'music';